@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;400;500;600;700&family=Inter:wght@200;400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0px;
  }
  

body{
    background-color: #212121;
    height: 100;
    width: 100%;
    overflow-x: hidden;
}

ul{
    list-style: none;
}

/* Fonts Mobile */

h3{
    font-size: 32px;
    font-weight: 800;
    font-family: "Exo 2", sans-serif;
    margin-left: 32px;
    margin-top: 80px;
    background: linear-gradient(90.07deg, #247DFB 1.22%, #A25AFF 20.64%, #E64D60 30.49%, #FFAB19 50.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

p{
    font-size: 14px;
    font-weight: 200;
    font-family: "Inter", sans-serif;
    color: whitesmoke;
    margin-left: 32px;
    margin-top: 16px;
    margin-bottom: 40px;
    width:80%;
    line-height: 20px;
}
.subtitle{
    font-size: 1.25rem;
    line-height: 2rem;
}

.description{
    font-size: 18px;
    line-height: 2rem;

}
/* *** LINKS *** */
a{
    color: whitesmoke;
    text-decoration: none;
}
a:hover{
    border-bottom: 1px solid white;
}
.logo-link:hover{
    border-bottom: none;
  }
  .no-link:hover{
    border-bottom: none;
  }

/* Buttons */
button{
    width: 160px;
    height: 40px;
    border-radius: 100px;
    border: none;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 100px;
    letter-spacing: .1em;
    margin-top: 16px;
}
.mobile-channel-btn{
    display: block;
    width: 150px;
    height: 40px;
    background: linear-gradient(90deg, #096CFA 0%, #AA41F4 33.96%, #E24B63 65.22%, #FFAB19 100.26%);
    border-radius: 100px;
    border: none;
    margin-top: 1rem;
    margin-left: 11rem;
    color: whitesmoke;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 100px;
    letter-spacing: .1em;
}
.channel-btn{
    display: none;
}
/* NavBar */
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.desktop-nav{
    font-family: Inter;
    font-weight: 100;
    font-size: 16px;
}
.banner{
    width: 100%;
    margin-top: 5rem;
}
#hamburger-icon{
    margin: auto 0;
    margin-right: 2rem;
    display: none;
    cursor: pointer;
    right: 0;
}
#hamburger-icon div{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.open .bar1{
    transform: rotate(-45deg) translate(-6px, -6px);
    -webkit-transform: rotate(-45deg) translate(-6px, -6px);
    -moz-transform: rotate(-45deg) translate(-6px, -6px);
    -ms-transform: rotate(-45deg) translate(-6px, -6px);
    -o-transform: rotate(-45deg) translate(-6px, -6px);
}
.open .bar2{
    opacity: 0;
}

.open .bar3{
    transform: rotate(45deg) translate(-6px, -8px);
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    -moz-transform: rotate(45deg) translate(-6px, -8px);
    -ms-transform: rotate(45deg) translate(-6px, -8px);
    -o-transform: rotate(45deg) translate(-6px, -8px);
}
.open .bar3-test{
    transform: rotate(45deg) translate(-17px, -8px);
    -webkit-transform: rotate(45deg) translate(-17px, -8px);
    -moz-transform: rotate(45deg) translate(-17px, -8px);
    -ms-transform: rotate(45deg) translate(-17px, -8px);
    -o-transform: rotate(45deg) translate(-17px, -8px);
}
.open .mobile-menu{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: flex-start;
    background: #212121;
}

.mobile-menu{
    display: none;
    position: absolute;
    top: 80px;
    z-index: 10;
    right: 0;
    height: calc(100vh - 80px);
    width: 100%;
    background-color:red;

}
.mobile-menu li{
    padding: 2rem 0;
    font-size: 1rem;
}

/* Projects */

.project-grid{
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: auto;
    gap: 1rem 2rem;
    margin: 0 auto;
}
.project-grid img{
    width: 100%;
    margin-left: 2rem;
}

/* Buttons */

.channel-btn{
    width: 150px;
    height: 40px;
    background: linear-gradient(90deg, #096CFA 0%, #AA41F4 33.96%, #E24B63 65.22%, #FFAB19 100.26%);
    border-radius: 100px;
    border: none;
    margin-top: 0px;
    margin-left: 32px;
    color: whitesmoke;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 100px;
    letter-spacing: .1em;
}

/* Footer */

hr{
    margin-top: 2rem;
    margin-bottom: 16px;
    border-top: 1px solid white;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 300px) and (max-width: 768px){
    /*** NAVBAR ***/
.desktop-nav{
    display: none;
}
#hamburger-icon{
    display: block;
}
/* FOOTER MIDSIZE */
footer{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
.logo{
    width: 18%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}
.hidden{
    display: none;
}
.pages{
    font-family: Inter;
   font-weight: 200;
    display: flex;
    margin-left: 2rem;
    list-style: none;
    margin-top: 8px;
}
.pages li{
    margin-inline: 12px;
}
.socials-list{
    display: flex;
    margin-left: 2rem;
    list-style: none;
    margin-top: 1rem;
}
.socials-list li{
    margin-inline: 8px;
}
.linkedin, .youtube, .dribbble, .instagram{
    width: 32px;
    height: 32px;
}
}
@media screen and (min-width: 600px) and (max-width: 768px) {
    /* .cha-ching, .cryptocation, .instacare, .nft, .whiskey{
        margin-left: 32px;
        margin-right: 16px;
        width: 100%;
        height:100%;
    }     */
    
    .project-grid{
        display: grid;
        width: 100%;
        gap:16px;
        grid-template-columns: 45% 45%;
        grid-template-rows: auto;
        }


/* Fonts Tablet */
h3{
    font-size: 32px;
    font-weight: 800;
    font-family: "Exo 2", sans-serif;
    margin-left: 32px;
    margin-top: 60px;
    background: linear-gradient(90.07deg, #247DFB 1.22%, #A25AFF 15.64%, #E64D60 30.49%, #FFAB19 40.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.description{
    width: 70%;
}

/* Footer Tablet */

hr{
    margin-top: 3rem;
    margin-bottom: 24px;
    border-top: 1px solid white;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
}

/* MEDIA QUERIES */
@media screen and (min-width: 769px){
    .logo{
        width: 35%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1.5rem;
    }
    h3{
        font-size: 40px;
        font-weight: 800;
        font-family: "Exo 2", sans-serif;
        margin-left: 32px;
        margin-top: 80px;
        background: linear-gradient(90.07deg, #247DFB 1.22%, #A25AFF 5.64%, #E64D60 15.49%, #FFAB19 20.88%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .description{
        width: 70%;
    }
    .cha-ching, .whiskey, .fortune, .cryptocation, .instacare{
       
        width: 100%;
       
    }   
    
    .project-grid{
        display: grid;
        
        gap: 1rem;
        grid-template-columns: 30% 30% 30% ;
        grid-template-rows: auto;
        }
        
        .container{
            display: flex;
            flex-direction: row;
            
        }
        .container-content{
            width: 65%;
        }
        .mobile-channel-btn{
            display: none;
        }
        .channel-btn{
            display: block;
        }
        .youtube-thumbnail{
            width: 80%;
            margin-right: 80px;
            margin-bottom: 32px;
            margin-top: 80px;
        }


        /*** NAVBAR ***/
#hamburger-icon{
    display: none;
}
.desktop-nav{
    display: flex;
    margin-top: 2rem;
    margin-right: 4rem;
}
.desktop-nav li{
    margin-inline: 1rem;
    font-size: 1.5rem;
}

nav ul{
    list-style: none;
    display: flex;
}





        /* DESKTOP FOOTER */
/* FOOTER Desktop */
.footer-container{
    margin-top: 40px;
    display: flex;
    padding-bottom: 1rem;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.mobile{
    display: none;
}
.hidden{
    display: block;
}
.reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.social-footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pages{
   display: flex; 
   font-family: Inter;
   font-weight: 200;
   margin-top: -1rem;
   
margin-right: 1.5rem;

list-style: none;

flex-direction: column;
}
.pages li{
    margin: 8px;
}
.footer-social-box{
    
    justify-content: center;
    align-items: center;
}
.socials-list{
    display: flex;
    list-style: none;
 
    
    
} 
.socials-list li{
    margin: 12px;
}
.linkedin, .youtube, .dribbble, .instagram{
    width: 40px;
    height: 40px;
}
}